<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='js/jquery.js') }}">\x3C/script>')
</script>

<script src="{{ url_for('static', filename='js/sentence.js') }}"></script>
<script src="{{ url_for('static', filename='js/read.js') }}"></script>


<head lang="en">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>Транслятор - Translyator</title>
</head>
{% block content %}
{% endblock %}